@charset "utf-8";
body{
	background: rgba(241,231,103,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(208,250,70,0.93) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(208,250,70,0.93)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(208,250,70,0.93) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(208,250,70,0.93) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(208,250,70,0.93) 100%);
background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(208,250,70,0.93) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#d0fa46', GradientType=1 );
}
h1{
	color:#9900CC;
	border:1px solid #00F;
	border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	text-align:center;
	background-color:#99FF99;	
}
#zonadatos{
float:left;
width:500px;
margin-left20px;
padding:20px;
border:2px dashed #0000FF;
margin:2px;
}
#zonaformulario{
float:left;
padding:30px;
border:2px solid #F00;
background-color:#99FF66;
margin:3px;
}